---
import Landing from '../layouts/Landing.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Trust from '../components/Trust.astro';
import Pipeline from '../components/Pipeline.astro';
import Install from '../components/Install.astro';
---

<Landing>
  <Header />
  <main id="main-content" class="pt-[88px]">
    <Hero />
    <Trust />
    <Pipeline />
    <Install />
  </main>
</Landing>
